# 0922-1 瑪利歐兄弟啟動器專用設定
video.fs 1

# ESC 結束目前遊戲；回到啟動器所在的終端機。
command.exit keyboard 0x0 41
input.ckdelay 0

# 1P NES 手把鍵盤對應
nes.input.port1 gamepad
nes.input.port1.gamepad.a keyboard 0x0 27
nes.input.port1.gamepad.b keyboard 0x0 29
nes.input.port1.gamepad.select keyboard 0x0 43
nes.input.port1.gamepad.start keyboard 0x0 40
nes.input.port1.gamepad.up keyboard 0x0 82
nes.input.port1.gamepad.down keyboard 0x0 81
nes.input.port1.gamepad.left keyboard 0x0 80
nes.input.port1.gamepad.right keyboard 0x0 79
